@use "../base/variables";

.btn-stafflink {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 1.5rem;
	font-weight: 600;
	transition: all 0.1s ease-in-out;
	cursor: pointer;

	&.btn-outline-brand {
		background-color: transparent;
		border: 1px solid variables.$text-brand;
		color: variables.$text-brand;

		&:hover, &:focus {
			background-color: variables.$bg-primary;
			color: #ffffff !important;

			i, span, svg {
				color: #ffffff !important;
			}
		}
	}

	&.btn-outline-dark {
		background-color: transparent;
		border: 1px solid black;
		color: black;
		border-radius: 0;
		padding: 0.5rem 2.5rem;

		i {
			transition: transform 0.2s ease;
		}

		&:hover {
			background-color: black;
			color: white !important;

			i {
				transform: translateX(5px);
				color: white;
			}
		}
	}

}

.btn-circle {
	width: variables.$btn-circle-size;
	height: variables.$btn-circle-size;
	padding: 0 !important;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 50% !important;
	transition: all 0.2s ease-in-out;

	.btn-circle-inner {
		font-size: 1.2rem;
		line-height: 1;
	}

	&:hover {
		transform: scale(1.02);
	}
}