@use "../base/variables";

.custom-yoast-breadcrumb {
	font-size: 0.875rem;
	margin-top: 2.625rem;

	> span {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
		align-items: center;
	}

	a {
		color: variables.$text-secondary;
		text-decoration: none;

		&:hover {
			color: variables.$text-brand;
			cursor: pointer;
		}
	}

	.breadcrumb_last {
		color: variables.$text-brand !important;
	}
}