.pjax-loader-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	display: none;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	background-color: rgba(248, 248, 248, 0.8);
}

.pjax-loader-spinner {
	width: 3rem;
	height: 3rem;
}