@use "../base/variables";
@use "../utils/mixin";

.header {
	.icon-menu {
		@include mixin.icon-setup(variables.$url-icon-menu, 1.5625rem);
	}

	box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
	padding-top: 0.625rem;
	padding-bottom: 1.25rem;
	z-index: 100;

	@include mixin.breakpoint-down(md) {
		max-width: 100%;
		padding-top: 0.9375rem;
		padding-bottom: 1rem;
	}

	.header-navbar {
		padding-bottom: 0;
		padding-top: 0;

		.nav-item {
			&:last-child {
				margin-right: 0 !important;
			}
		}

		.navbar-toggler {
			border: 0 !important;
			box-shadow: none !important;
			align-self: flex-end;
			padding-left: 0 !important;
			padding-right: 0 !important;

			@include mixin.breakpoint-down(md) {
				padding-bottom: 0.5rem;
			}

			&:focus {
				box-shadow: none;
			}

			.bi-list {
				color: variables.$text-brand;
			}
		}

		.menu-button {
			@include mixin.breakpoint-down(md) {
				padding-bottom: 0.8125rem;
			}
		}
	}

	.navbar-brand {
		display: flex;
		padding-top: 0;
		padding-bottom: 0;
		margin-right: 0;
		line-height: 1;

		img {
			object-fit: contain;

			@include mixin.breakpoint-down(md) {
				width: variables.$logo-width-desktop;
				height: variables.$logo-height-desktop;
			}
		}
	}

	.offcanvas {
		border: 0 !important;
		box-shadow: none !important;

		@include mixin.breakpoint-down(md) {
			width: 15.375rem;
			top: 6.25rem !important;
		}

		@include mixin.breakpoint-up(lg) {
			align-self: flex-end;
		}

		.offcanvas-body {
			padding-top: 2.1875rem;
			padding-right: 2.0625rem;
		}

		.navbar-nav {
			justify-content: flex-end;
			flex-grow: 1;
			text-align: right;
		}


		.nav-item {
			@include mixin.breakpoint-up(lg) {
				margin-right: 2.8125rem;
				padding-bottom: 0.5rem;
			}

			@include mixin.breakpoint-down(md) {
				margin-bottom: 4rem;
			}
		}
	}

	.nav-link {
		color: variables.$text-secondary-dark;
		font-size: 0.875rem;
		padding: 0 !important;

		&:hover {
			color: variables.$text-brand;
		}
	}

	.offcanvas-backdrop {
		top: 6.3125rem !important;
		height: calc(100vh - 6.3125rem) !important;
		z-index: 1040 !important;
	}
}
