@use "../base/variables";
@use "sass:map";

@mixin mesh-background($left-image, $right-image, $opacity: 0.5) {
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		pointer-events: none;
		opacity: $opacity;
		background: url($left-image) left bottom no-repeat,
		url($right-image) right bottom no-repeat;
	}
}

@mixin breakpoint-up($size) {
	@media (min-width: map.get(variables.$breakpoints, $size)) {
		@content;
	}
}

@mixin breakpoint-down($size) {
	$breakpoint-value: map.get(variables.$breakpoints, $size);
	@media (max-width: #{$breakpoint-value - variables.$breakpoint-fix}) {
		@content;
	}
}

@mixin icon-setup($url, $size: 1.125rem) {
	width: $size;
	height: $size;
	display: inline-block;
	background-image: url($url)!important;
	background-repeat: no-repeat!important;
	background-position: center!important;
	background-size: contain!important;
}
